<div class="p-2 ">

  <p-card header="Create order">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select</label>
      <select class="form-control" [(ngModel)]="product" id="exampleFormControlSelect1">
        <option *ngFor="let product of products" [ngValue]="product">
          {{product.name}}</option>

      </select>

    </div>
    <div class="col-auto form-group">
      <label class="sr-only" for="inlineFormInput">Quantity</label>
      <p-inputnumber [(ngModel)]="quantity" class="form-control mb-2" id="inlineFormInput" [showButtons]="true"
        placeholder="0" />
    </div>
    <div class="col-auto form-group">
      <label class="sr-only" for="inlineFormInput">Name</label>
      <input type="text" [(ngModel)]="clientName" class="form-control mb-2" id="clientName">
    </div>
    <div class="col-auto form-group">
      <label class="sr-only" for="inlineFormInput">Adress</label>
      <input type="text" [(ngModel)]="clientAddress" class="form-control mb-2" id="inlineFormInput"
        placeholder="New York">
    </div>
    <div class="col-auto">
      <button type="submit" (click)="submitOrder()" class="btn btn-primary mb-2">Submit</button>
    </div>

  </p-card>
</div>