<p>Order List</p>
<div *ngFor="let order of orders">
	<p>{{ order.id}}</p>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">id</th>
			<th scope="col">customer name</th>
			<th scope="col">number of products</th>

			<th scope="col">product name</th>
			<th scope="col">quantity</th>
			<th scope="col">price</th>

		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let order of orders; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>
				{{ order.id}}
			</td>
			<td>
				{{ order.clientName}}
			</td>
			<td>
				{{ order.clientAddress}}
			</td>
			<td>
				{{ order.productName}}
			</td>
			<td>
				{{ order.quantity}}
			</td>
		</tr>
	</tbody>
</table>