<p>{{ orders.length}} items.</p>
<p-table [value]="orders" class="table table-striped">
	<ng-template #header>
		<tr>
			<th scope="col">#</th>
			<th scope="col">id</th>
			<th scope="col">customer name</th>
			<th scope="col">number of products</th>
			<th scope="col">product name</th>
			<th scope="col">quantity</th>
			<th scope="col">status</th>
		</tr>
	</ng-template>
	<ng-template #body let-order let-rowIndex="rowIndex">
		<tr >
			<th scope="row">{{ rowIndex + 1 }}</th>
			<td>
				{{ order.id}}
			</td>
			<td>
				{{ order.clientName}}
			</td>
			<td>
				{{ order.clientAddress}}
			</td>
			<td>
				{{ order.productName}}
			</td>
			<td>
				{{ order.quantity}}
			</td>
			<td>
				{{ order.status}}
			</td>
		</tr>
	</ng-template>
	<ng-template #emptymessage>
		<tr>
			<td colspan="6">There are no order yet.</td>
		</tr>
	</ng-template>
</p-table>